@using Northwind.Models
@model IEnumerable<Category>


@* <table class="table w-auto table-bordered table-hover">
    <thead>
        <tr>
        <th scope="col-auto">Order ID</th>
        <th scope="col-auto" align="right">Product ID</th>
        <th scope="col-auto" align="right">Quantity</th>
        </tr>
    </thead>
    <tbody>
      @foreach (OrderDetail o in Model) {
        <tr>
            <th scope="row">@o.OrderDetailId</th>
            <td align="right">@o.ProductId</td>
            <td align="left">@o.Quantity</td>
        </tr>
        } *@




<div class='report'>
  <h1>Product Category</h1>
  <div class="dropdown">
    <select class="btn btn-secondary btn-lg dropdown-toggle" style:padding-top="10pixels" type="button" id="CategoryId">
      @foreach (Category c in Model)
      {
        if (c.CategoryId == ViewBag.id)
        {
          <option value="@c.CategoryId" selected>@c.CategoryName</option>
        }
        else
        {
          <option value="@c.CategoryId">@c.CategoryName</option>
        }
      }
    </select>
    </button>
  </div>
  <div id="chart_container">
    <canvas id="reportTwo" data-id="@ViewBag.id"></canvas>
  </div>
</div>
@section Scripts {
<script type="text/javascript" src="~/js/reportTwo.js"></script>
}